[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-rest-framework = "*"
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
pyjwt = "*"
psycopg2-binary = "*"
python-dotenv = "*"
django-material-admin = "*"
urllib3 = "*"
requests = "*"
asgiref = "*"
psycopg2 = "*"
sqlparse = "*"

[dev-packages]

[requires]
python_version = "3.12"
